:root {
    --negro: #252B42;
    --gris: #737373;
    --blanco: #fff;
    --verde-azulado: #0D5C63;
    --naranja: #FF7B47;
}
body {
    font-family: "Montserrat", monospace;
    margin: 0;
    padding: 0;
    font-size: 15;
}
nav {
    display: flex;
    height: 100px;
    padding: 0 70px;
    justify-content: space-between;
    align-items: center;
    margin-left: 110px;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.1px;
}
nav h2 {
    font-family: "Montserrat", monospace;
    color: var(--negro);
    margin: 0;
}
nav a {
    
    text-decoration: none;
    margin: 5px;
    color: var(--gris);
    font-weight: 600;
    margin-right: 15px;
    
}
.ima {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-top: 0%;
}
header {
    background: url(imagenes/fondo.svg);
    background-size: cover; 
    height: 800px;
}
header>h1 {
    display: flex;
    font-family: "Montserrat", monospace;
    margin: 0;
    padding: 0;
    margin-left: 180px;
    margin-top: 0px;
    font-size: 78px;
    margin-block-start: 85px;
}
header>div>h4 {
    display:flex;
    margin-left: 180px;
    margin-top: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}
header>div>button{
    width: 185px;
    height: 48px;
    border-radius: 37px;
    padding: 10px, 36px, 10px, 36px;
    gap: 10px;
    margin-left: 180px;
    font-size: 20px;
    font-weight: 700;
    font-size:14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    align-items: Center;
    color: var(--blanco)
}
header>.btn>button{
    text-decoration: none;
    background-color: #FF7B47;
    border: none;
}
header>.boton>button{
    display: flex;
    margin-left: 400px;
    background-color: transparent;
    color: var(--verde-azulado)
}
header>.boton>button{
    width:154px;
    height: 48px;
    border-radius: 37px;
    padding: 10px, 36px, 10px, 36px;
    gap: 10px;
    margin-block-start: -45px;
    margin-left: 375px;
}
header>.boton>button{
   font-weight: 700;
   font-size: 14px;
   line-height: 28px;
   letter-spacing: 0.2px;
   align-items: Center;
   justify-content: center;
}
header>.todo{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    display: flex;
    justify-content: start;
    align-items: start;
    justify-content: space-evenly;
}
.inferior{
    border: 1px solid var(--verde-azulado);
    margin-top: 110px;
    margin-left: 130px;
    flex-direction: column;
    padding: 20px 100px 20px 20px;
    text-decoration: none;
    background-color: white;
    border: 0;
    
}
.we{
    border: 1px solid var(--verde-azulado);
    margin-top: 110px;
    margin-right: 10px;
    flex-direction: column;
    padding: 20px 100px 20px 20px;
    text-decoration: none;
    background-color: white;
    border: 0;
}
.wi {
    margin-top: 110px;
    border: 1px solid var(--verde-azulado);
    margin-right: 100px;
    flex-direction: column;
    padding: 20px 100px 20px 20px;
    text-decoration: none;
    background-color: var(--verde-azulado);
    border: 0

}
.wi{
   text-decoration: none;
   color: white; 
}
body>.sos{
    display: flex;
    align-items: center;
    margin-top: 300px;
}
body>.sos{
    display: flex;
    justify-content: center;
    display: grid;
    flex-direction: column;
}
body>div>.contenedorr{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    display: flex;
    justify-content: start;
    align-items: start;
    justify-content: space-evenly;
} 





